ACTION=="add", SUBSYSTEM=="net", KERNEL=="can*", ENV{ID_SERIAL_SHORT}=="0032004B5246571520393733", NAME="can_chassis", RUN+="/usr/local/sbin/can-link-up.sh can_chassis 500000"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="can*", ENV{ID_SERIAL_SHORT}=="0039001E4759530920353131", NAME="can_right",   RUN+="/usr/local/sbin/can-link-up.sh can_right 1000000"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="can*", ENV{ID_SERIAL_SHORT}=="004400494759530920353131", NAME="can_left",    RUN+="/usr/local/sbin/can-link-up.sh can_left 1000000"
